<!-- views/admin.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>CatOnline &mdash; Lobby</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="images/favicon.ico" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
</head>

<body>

  <div class="admin content">
    <div class="admin frame">

      <form class="admin container" id="users-cont">
        <p>Users</p>
        <table class="admin userlist">
          <tr class="admin header">
            <th>select</th>
            <th>username</th>
            <th>author</th>
            <th>player</th>
            <th>isSuperAdmin</th>
            <th>isAdmin</th>
            <th>isMuted</th>
            <th>flair</th>
            <th>password reset</th>
          </tr>
        </table>
        <span class="batch user">
          <p>Batch actions:</p>
          <span>
            <% if (user.isSuperAdmin) { %>
              <button type="button" class="admin batch" name="users-delete">Delete users</button>
              <button type="button" class="admin batch" name="users-delete-authored">Delete authored games</button>
            <% } %>
            <button type="button" class="admin batch" name="users-kick">Kick from all games</button>
            <button type="button" class="admin batch" name="users-refresh-counts">Refresh game counts</button>
          </span>
        </span>
      </form>

      <form class="admin container" id="games-cont">
        <p>Games</p>
        <table class="admin gamelist">
          <tr class="admin header">
            <th>select</th>
            <th>status</th>
            <th>turn</th>
            <th>public</th>
            <th>scenario</th>
            <th>players</th>
            <th>VPs</th>
            <th>updated</th>
          </tr>
        </table>
        <span class="batch game">
          <p>Batch actions:</p>
          <span>
            <% if (user.isSuperAdmin) { %>
              <button type="button" class="admin batch" name="games-delete">Delete games</button>
            <% } %>
            <button type="button" class="admin kick" name="games-kick">Kick users</button>
            <button type="button" class="admin batch" name="games-make-public">Make public</button>
            <button type="button" class="admin batch" name="games-make-private">Make private</button>
          </span>
        </span>
      </form>

    </div>
    <div class="admin frame" id="error-console">

      <div class="panel messages public">
        <ul class="messages">
          <li class='message center'><strong>
              CatOnline <%= user.isSuperAdmin ? 'superadmin' : 'admin' %> console
          </strong></li>
          <% if (message.length) { %>
            <li class="message alert"><%= message %></li>
          <% } %>
        </ul>
      </div>

    </div>
  </div>

  <%- include( 'banner.ejs' ) %>

  <script src='/socket.io/socket.io.js'> </script>
  <script src='http://code.jquery.com/jquery-latest.min.js'> </script>
  <script src='/resources/core.js'> </script>
  <script src='/resources/admin.js'> </script>

</body>
</html>
