<!-- views/index.js -->
<!DOCTYPE html>
<html>
<head>
  <title>CatOnline</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="images/favicon.ico" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
</head>

<body>

  <%- include( 'banner.ejs' ) %>

  <p class="testing-content" style="margin-top: 10%;">
    <%= JSON.stringify(data) %>
  </p>

  <!--<script src='/socket.io/socket.io.js'> </script>-->
  <script src='http://code.jquery.com/jquery-latest.min.js'> </script>
  <script>
  </script>
</body>
</html>
