<!-- views/index.js -->
<!DOCTYPE html>
<html>
<head>
  <title>CatOnline</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="images/favicon.ico" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
  <style>
    #testing {
      background-color: #00f;
    }
  </style>
</head>

<body>

  <%- include( 'banner.ejs' ) %>

  <p id="testing" style="margin-top: 10%;">
    <%- include( 'svg/standard.ejs' ) %>
  </p>

  <p id="json">
    <%= JSON.stringify(public, null, 2) %>
  </p>

  <!--<script src='/socket.io/socket.io.js'> </script>-->
  <script src='/resources/jquery.js'> </script>
  <script>
    function bind(game) {
      console.log(game);
      for (let i=0; i<game.hexes.length; i++) {
        let hex = game.hexes[i];
        $('#tile'+i+' polygon')
          .attr( 'resource', hex.resource )
          .attr( 'class', hex.resource );
        $('#tile'+i+' text')
          .attr( 'class', [6,8].indexOf(hex.roll) > -1 ? 'red' : '' )
          .text( hex.roll ? hex.roll : '' );
      }
      for (let i=0; i<game.juncs.length; i++) {
        let junc = game.juncs[i];
        $('#spot'+i).attr( 'class', junc.isCity ? 'spot city' : 'spot' );
        if (junc.port !== null)
          $('#port'+junc.port.num).attr( 'class', 'port '+junc.port.type );
      }
      for (let i=0; i<game.players.length; i++) {
        let player = game.players[i];
        for (let j=0; j<player.roads.length; j++) {
          $('#road'+j).attr( 'class', 'road player_'+player.color );
        }
        for (let j=0; j<player.settlements.length; j++) {
          $('#spot'+j).attr( 'class', 'spot player_'+player.color );
        }
        for (let j=0; j<player.cities.length; j++) {
          $('#spot'+j).attr( 'class', 'spot city player_'+player.color );
        }
        console.log(player);
      }
    }

    $( function() {
      bind( JSON.parse( $('#json').text() ) );
    });
  </script>
</body>
</html>
