<!-- views/index.js -->
<!DOCTYPE html>
<html>
<head>
  <title>CatOnline</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="images/favicon.ico" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
</head>

<body>

  <div class="index content">
    <div class="index container">
      <h1>Welcome to CatOnline</h1>

      <!-- show any messages -->
      <% if (message.length > 0) { %>
          <p class="alert alert-danger"><%= message %></p>
      <% } %>

      <div style="display:none;" class="index links">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
    </div>
  </div>

  <%- include( 'banner.ejs' ) %>

  <!--<script src='/socket.io/socket.io.js'> </script>-->
  <script src='/resources/jquery.js'> </script>
  <script>
    $('.index.content').click( function() {
      window.location.href=("/lobby");
    });
  </script>
</body>
</html>
