<!-- views/index.js -->
<!DOCTYPE html>
<html>
<head>
  <title>Homepage test</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

  <%- include( 'header.ejs' ) %>

  <div class="content">
    <div class="jumbotron text-center">
      <h1>This is the home page</h1>

      <!-- show any messages -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <% if (typeof user !== 'undefined') { %>
        <button onclick="location.href='/lobby';" id="lobby-button">Go to lobby</button>
      <% } %>
      
      <a href="/login">Login</a>
      <a href="/signup">Register</a>
  </div>

  <!--<script src='/socket.io/socket.io.js'> </script>-->
  <script src='http://code.jquery.com/jquery-latest.min.js'> </script>
</body>
</html>
