<!-- views/play.js -->
<!DOCTYPE html>
<html>
<head>
  <title>CatOnline</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="/images/favicon.ico" />
  <link rel="icon" href="/images/favicon.ico" type="image/ico" />
</head>

<body>


  <div class="play content">

    <div class="frame" id="control">
      <div class="panel" id="navigation">
        <button onclick="location.href='/lobby';" id="lobby">Go to lobby</button>
        <button onclick="forceSwitchView();" class="switch-view" id="wide">Switch to wide view</button>
      </div>

      <div class="panel" id="game-data">
        <table id="public-data">
          <tr class="header">
            <th id="public-name">name</th>
            <th id="public-score">vp</th>
            <th id="public-resources">resources</th>
            <th id="public-longest-road">road</th>
            <th id="public-dev-cards">dev cards</th>
            <th id="public-knights">knights</th>
          </tr>
        </table>
        <div id="private-data">
        </div>
      </div>

      <%- include( 'messages.ejs' ) %>

    </div>

    <div class="frame" id="game">
      <%- include( 'svg/standard.ejs' ) %>
    </div>

  </div>
  <%- include( 'banner.ejs' ) %>

  <script src='/socket.io/socket.io.js'> </script>
  <script src='/resources/jquery-3.3.1.js'> </script>
  <script src='/resources/svg-pan-zoom.js'> </script>
  <script src='/resources/core.js'> </script>
  <script src='/resources/messages.js'> </script>
  <script src='/resources/states.js'> </script>
  <script src='/resources/play.js'> </script>
</body>
</html>
