<!-- views/play.js -->
<!DOCTYPE html>
<html>
<head>
  <title>CatOnline</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="/images/favicon.ico" />
  <link rel="icon" href="/images/favicon.ico" type="image/ico" />
</head>

<body>


  <div class="play content">

    <div class="frame" id="control">
      <div class="panel" id="navigation">
        <button onclick="location.href='/lobby';" id="lobby">Go to lobby</button>
        <button onclick="forceSwitchView();" class="switch-view" id="wide">Switch to wide view</button>
      </div>

      <div class="panel" id="info">
        info
      </div>

      <%- include( 'messages.ejs' ) %>

    </div>

    <div class="frame" id="game">
      <%- include( 'svg/standard.ejs' ) %>
    </div>

  </div>
  <%- include( 'banner.ejs' ) %>

  <p id="json" style="display:none;">
    <%= JSON.stringify({ public:public, private:private }) %>
  </p>

  <script src='/socket.io/socket.io.js'> </script>
  <script src='/resources/jquery.js'> </script>
  <script src='/resources/svg-pan-zoom.js'> </script>
  <!--<script src="/resources/lib.js"> </script>-->
  <script src='/resources/core.js'> </script>
  <script src='/resources/messages.js'> </script>
  <script>

    function bind(game) {
      console.log(game);
      // use public and private data from the server
      // to build our visible game board
      for (let i=0; i<game.public.hexes.length; i++) {
        let hex = game.public.hexes[i];
        $('#tile'+i+' polygon')
          .attr( 'resource', hex.resource )
          .attr( 'class', hex.resource );
        $('#tile'+i+' text')
          .attr( 'class', [6,8].indexOf(hex.roll) > -1 ? 'red' : '' )
          .text( hex.roll ? hex.roll : '' );
      }
      for (let i=0; i<game.public.juncs.length; i++) {
        let junc = game.public.juncs[i];
        $('#spot'+i).attr( 'class', junc.isCity ? 'spot city' : 'spot' );
        if (junc.port !== null) {
          $('#port'+junc.port.num).attr( 'class', 'port '+junc.port.type );
        }
      }
      for (let i=0; i<game.public.players.length; i++) {
        let player = game.public.players[i];
        for (let j=0; j<player.roads.length; j++) {
          $('#road'+j).attr( 'class', 'road player_'+player.color );
        }
        for (let j=0; j<player.settlements.length; j++) {
          $('#spot'+j).attr( 'class', 'spot player_'+player.color );
        }
        for (let j=0; j<player.cities.length; j++) {
          $('#spot'+j).attr( 'class', 'spot city player_'+player.color );
        }
        console.log('`player`');
        console.log(player);
      }
      console.log('`private`');
      console.log(game.private);
    }

    // set global variables
    var game, panzoom;

    // once all DOM is rendered
    $( function(){

      // set semiglobal objects
      panzoom = svgPanZoom('svg#gameboard');

      /*$('.tile-group').each( function(i) {
        $(this).click(function() {
          console.log( 'you clicked tile ' + this.id );
        });
      });

      $('.port-path').each( function(i) {
        $(this).click(function() {
          console.log( 'you clicked port ' + this.id );
        });
      });

      $('.road-path').each( function(i) {
        $(this).click(function() {
          console.log( 'you clicked road ' + this.id );
        });
      });

      $('.spot-circle').each( function(i) {
        $(this).click(function() {
          console.log( 'you clicked spot ' + this.id );
        });
      });*/

      game = JSON.parse( $('#json').text() );
      bind(game);

    });

  </script>
</body>
</html>
