<!-- views/play.js -->
<!DOCTYPE html>
<html>
<head>
  <title>Homepage test</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

  <%- include( 'header.ejs' ) %>

  <div class="content">
    <%- JSON.stringify(data) %>
  </div>

</body>
</html>
