<!DOCTYPE html>
<html>
<head>
  <title>Homepage test</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

  <%- include( 'header.ejs' ) %>

  <div class="content">
    <div class="jumbotron text-center">
      <h1>This is the profile page</h1>

      <!-- show any messages -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <button onclick="location.href='/lobby';" id="lobby-button">Go to lobby</button>

      <p>username: <%= user.username %></p>
  </div>

  <script src='http://code.jquery.com/jquery-latest.min.js'> </script>
</body>
</html>
