polygon._sheep {
  fill: #adf442;
}

._brick {
  fill: #ed8428;
}

._wood {
  fill: #2b6836;
}

._wheat {
  fill: #e2d92f;
}

._ore {
  fill: #38332f;
}

._desert {
  fill: #ead5c2;
}

.tile-polygon {
  stroke: #fff;
  stroke-width: 0.25;
}

.tile-text {
  font-size: 1px;
}

.tile-text.red {
  fill: #ff0000;
}
