<svg id="gameboard" xmlns="http://www.w3.org/2000/svg" viewBox="-7.544228634059946 -5.75 14.539419162443235 13">

  <g class="tile" id="tile0" num="0">
    <polygon points="-3.897114317029974 -4.5 -2.598076211353316 -5.25 -1.299038105676658 -4.5 -1.299038105676658 -3 -2.598076211353316 -2.25 -3.897114317029974 -3 " resource="" juncs="0 4 8 12 7 3"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="-2.598076211353316" y="-3.75">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile1" num="1">
    <polygon points="-1.299038105676658 -4.5 0 -5.25 1.299038105676658 -4.5 1.299038105676658 -3 0 -2.25 -1.299038105676658 -3 " resource="" juncs="1 5 9 13 8 4"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="0" y="-3.75">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile2" num="2">
    <polygon points="1.299038105676658 -4.5 2.598076211353316 -5.25 3.897114317029974 -4.5 3.897114317029974 -3 2.598076211353316 -2.25 1.299038105676658 -3 " resource="" juncs="2 6 10 14 9 5"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="2.598076211353316" y="-3.75">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile3" num="3">
    <polygon points="-5.196152422706632 -2.25 -3.897114317029974 -3 -2.598076211353316 -2.25 -2.598076211353316 -0.75 -3.897114317029974 0 -5.196152422706632 -0.75 " resource="" juncs="7 12 17 22 16 11"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="-3.897114317029974" y="-1.5">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile4" num="4">
    <polygon points="-2.598076211353316 -2.25 -1.299038105676658 -3 0 -2.25 0 -0.75 -1.299038105676658 0 -2.598076211353316 -0.75 " resource="" juncs="8 13 18 23 17 12"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="-1.299038105676658" y="-1.5">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile5" num="5">
    <polygon points="0 -2.25 1.299038105676658 -3 2.598076211353316 -2.25 2.598076211353316 -0.75 1.299038105676658 0 0 -0.75 " resource="" juncs="9 14 19 24 18 13"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="1.299038105676658" y="-1.5">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile6" num="6">
    <polygon points="2.598076211353316 -2.25 3.897114317029974 -3 5.196152422706632 -2.25 5.196152422706632 -0.75 3.897114317029974 0 2.598076211353316 -0.75 " resource="" juncs="10 15 20 25 19 14"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="3.897114317029974" y="-1.5">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile7" num="7">
    <polygon points="-6.495190528383289 0 -5.196152422706632 -0.75 -3.897114317029974 0 -3.897114317029974 1.5 -5.196152422706632 2.25 -6.495190528383289 1.5 " resource="" juncs="16 22 28 33 27 21"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="-5.196152422706632" y="0.75">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile8" num="8">
    <polygon points="-3.897114317029974 0 -2.598076211353316 -0.75 -1.299038105676658 0 -1.299038105676658 1.5 -2.598076211353316 2.25 -3.897114317029974 1.5 " resource="" juncs="17 23 29 34 28 22"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="-2.598076211353316" y="0.75">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile9" num="9">
    <polygon points="-1.299038105676658 0 0 -0.75 1.299038105676658 0 1.299038105676658 1.5 0 2.25 -1.299038105676658 1.5 " resource="" juncs="18 24 30 35 29 23"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="0" y="0.75">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile10" num="10">
    <polygon points="1.299038105676658 0 2.598076211353316 -0.75 3.897114317029974 0 3.897114317029974 1.5 2.598076211353316 2.25 1.299038105676658 1.5 " resource="" juncs="19 25 31 36 30 24"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="2.598076211353316" y="0.75">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile11" num="11">
    <polygon points="3.897114317029974 0 5.196152422706632 -0.75 6.495190528383289 0 6.495190528383289 1.5 5.196152422706632 2.25 3.897114317029974 1.5 " resource="" juncs="20 26 32 37 31 25"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="5.196152422706632" y="0.75">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile12" num="12">
    <polygon points="-5.196152422706632 2.25 -3.897114317029974 1.5 -2.598076211353316 2.25 -2.598076211353316 3.75 -3.897114317029974 4.5 -5.196152422706632 3.75 " resource="" juncs="28 34 39 43 38 33"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="-3.897114317029974" y="3">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile13" num="13">
    <polygon points="-2.598076211353316 2.25 -1.299038105676658 1.5 0 2.25 0 3.75 -1.299038105676658 4.5 -2.598076211353316 3.75 " resource="" juncs="29 35 40 44 39 34"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="-1.299038105676658" y="3">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile14" num="14">
    <polygon points="0 2.25 1.299038105676658 1.5 2.598076211353316 2.25 2.598076211353316 3.75 1.299038105676658 4.5 0 3.75 " resource="" juncs="30 36 41 45 40 35"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="1.299038105676658" y="3">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile15" num="15">
    <polygon points="2.598076211353316 2.25 3.897114317029974 1.5 5.196152422706632 2.25 5.196152422706632 3.75 3.897114317029974 4.5 2.598076211353316 3.75 " resource="" juncs="31 37 42 46 41 36"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="3.897114317029974" y="3">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile16" num="16">
    <polygon points="-3.897114317029974 4.5 -2.598076211353316 3.75 -1.299038105676658 4.5 -1.299038105676658 6 -2.598076211353316 6.75 -3.897114317029974 6 " resource="" juncs="39 44 48 51 47 43"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="-2.598076211353316" y="5.25">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile17" num="17">
    <polygon points="-1.299038105676658 4.5 0 3.75 1.299038105676658 4.5 1.299038105676658 6 0 6.75 -1.299038105676658 6 " resource="" juncs="40 45 49 52 48 44"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="0" y="5.25">0</text>
    <title></title>
  </g>

  <g class="tile" id="tile18" num="18">
    <polygon points="1.299038105676658 4.5 2.598076211353316 3.75 3.897114317029974 4.5 3.897114317029974 6 2.598076211353316 6.75 1.299038105676658 6 " resource="" juncs="41 46 50 53 49 45"></polygon>
    <text dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="2.598076211353316" y="5.25">0</text>
    <title></title>
  </g>

  <g class="port-group">
    <path class="port" id="port0" num="0" d="M -1.299038105676658 -4.5 L -0.9240381056766579 -5.25 L 0 -5.25 L -1.299038105676658 -4.5" juncs="1 4 "></path>
    <title></title>
  </g>

  <g class="port-group">
    <path class="port" id="port1" num="1" d="M 3.897114317029974 -4.5 L 3.522114317029973 -5.25 L 2.598076211353316 -5.25 L 3.897114317029974 -4.5" juncs="2 6 "></path>
    <title></title>
  </g>

  <g class="port-group">
    <path class="port" id="port2" num="2" d="M -5.196152422706632 -2.25 L -4.821152422706632 -3 L -3.897114317029974 -3 L -5.196152422706632 -2.25" juncs="7 11 "></path>
    <title></title>
  </g>

  <g class="port-group">
    <path class="port" id="port3" num="3" d="M 5.196152422706632 -0.75 L 5.745190528383289 -1.5 L 5.196152422706632 -2.25 L 5.196152422706632 -0.75" juncs="15 20 "></path>
    <title></title>
  </g>

  <g class="port-group">
    <path class="port" id="port4" num="4" d="M -6.495190528383289 1.5 L -7.044228634059946 0.75 L -6.495190528383289 0 L -6.495190528383289 1.5" juncs="21 27 "></path>
    <title></title>
  </g>

  <g class="port-group">
    <path class="port" id="port5" num="5" d="M 5.196152422706632 3.75 L 5.745190528383289 3 L 5.196152422706632 2.25 L 5.196152422706632 3.75" juncs="37 42 "></path>
    <title></title>
  </g>

  <g class="port-group">
    <path class="port" id="port6" num="6" d="M -5.196152422706632 3.75 L -4.821152422706632 4.5 L -3.897114317029974 4.5 L -5.196152422706632 3.75" juncs="38 43 "></path>
    <title></title>
  </g>

  <g class="port-group">
    <path class="port" id="port7" num="7" d="M -1.299038105676658 6 L -0.9240381056766579 6.75 L 0 6.75 L -1.299038105676658 6" juncs="48 52 "></path>
    <title></title>
  </g>

  <g class="port-group">
    <path class="port" id="port8" num="8" d="M 3.897114317029974 6 L 3.522114317029973 6.75 L 2.598076211353316 6.75 L 3.897114317029974 6" juncs="50 53 "></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road0" num="0" d="M -2.598076211353316 -5.25 L -3.897114317029974 -4.5" juncs="3 0"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road1" num="1" d="M -2.598076211353316 -5.25 L -1.299038105676658 -4.5" juncs="0 4"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road2" num="2" d="M 0 -5.25 L -1.299038105676658 -4.5" juncs="4 1"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road3" num="3" d="M 0 -5.25 L 1.299038105676658 -4.5" juncs="1 5"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road4" num="4" d="M 2.598076211353316 -5.25 L 1.299038105676658 -4.5" juncs="5 2"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road5" num="5" d="M 2.598076211353316 -5.25 L 3.897114317029974 -4.5" juncs="2 6"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road6" num="6" d="M -3.897114317029974 -4.5 L -3.897114317029974 -3" juncs="3 7"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road7" num="7" d="M -1.299038105676658 -4.5 L -1.299038105676658 -3" juncs="4 8"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road8" num="8" d="M 1.299038105676658 -4.5 L 1.299038105676658 -3" juncs="5 9"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road9" num="9" d="M 3.897114317029974 -4.5 L 3.897114317029974 -3" juncs="6 10"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road10" num="10" d="M -3.897114317029974 -3 L -5.196152422706632 -2.25" juncs="11 7"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road11" num="11" d="M -3.897114317029974 -3 L -2.598076211353316 -2.25" juncs="7 12"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road12" num="12" d="M -1.299038105676658 -3 L -2.598076211353316 -2.25" juncs="12 8"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road13" num="13" d="M -1.299038105676658 -3 L 0 -2.25" juncs="8 13"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road14" num="14" d="M 1.299038105676658 -3 L 0 -2.25" juncs="13 9"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road15" num="15" d="M 1.299038105676658 -3 L 2.598076211353316 -2.25" juncs="9 14"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road16" num="16" d="M 3.897114317029974 -3 L 2.598076211353316 -2.25" juncs="14 10"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road17" num="17" d="M 3.897114317029974 -3 L 5.196152422706632 -2.25" juncs="10 15"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road18" num="18" d="M -5.196152422706632 -2.25 L -5.196152422706632 -0.75" juncs="11 16"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road19" num="19" d="M -2.598076211353316 -2.25 L -2.598076211353316 -0.75" juncs="12 17"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road20" num="20" d="M 0 -2.25 L 0 -0.75" juncs="13 18"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road21" num="21" d="M 2.598076211353316 -2.25 L 2.598076211353316 -0.75" juncs="14 19"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road22" num="22" d="M 5.196152422706632 -2.25 L 5.196152422706632 -0.75" juncs="15 20"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road23" num="23" d="M -5.196152422706632 -0.75 L -6.495190528383289 0" juncs="21 16"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road24" num="24" d="M -5.196152422706632 -0.75 L -3.897114317029974 0" juncs="16 22"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road25" num="25" d="M -2.598076211353316 -0.75 L -3.897114317029974 0" juncs="22 17"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road26" num="26" d="M -2.598076211353316 -0.75 L -1.299038105676658 0" juncs="17 23"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road27" num="27" d="M 0 -0.75 L -1.299038105676658 0" juncs="23 18"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road28" num="28" d="M 0 -0.75 L 1.299038105676658 0" juncs="18 24"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road29" num="29" d="M 2.598076211353316 -0.75 L 1.299038105676658 0" juncs="24 19"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road30" num="30" d="M 2.598076211353316 -0.75 L 3.897114317029974 0" juncs="19 25"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road31" num="31" d="M 5.196152422706632 -0.75 L 3.897114317029974 0" juncs="25 20"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road32" num="32" d="M 5.196152422706632 -0.75 L 6.495190528383289 0" juncs="20 26"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road33" num="33" d="M -6.495190528383289 0 L -6.495190528383289 1.5" juncs="21 27"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road34" num="34" d="M -3.897114317029974 0 L -3.897114317029974 1.5" juncs="22 28"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road35" num="35" d="M -1.299038105676658 0 L -1.299038105676658 1.5" juncs="23 29"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road36" num="36" d="M 1.299038105676658 0 L 1.299038105676658 1.5" juncs="24 30"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road37" num="37" d="M 3.897114317029974 0 L 3.897114317029974 1.5" juncs="25 31"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road38" num="38" d="M 6.495190528383289 0 L 6.495190528383289 1.5" juncs="26 32"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road39" num="39" d="M -5.196152422706632 2.25 L -6.495190528383289 1.5" juncs="27 33"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road40" num="40" d="M -5.196152422706632 2.25 L -3.897114317029974 1.5" juncs="33 28"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road41" num="41" d="M -2.598076211353316 2.25 L -3.897114317029974 1.5" juncs="28 34"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road42" num="42" d="M -2.598076211353316 2.25 L -1.299038105676658 1.5" juncs="34 29"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road43" num="43" d="M 0 2.25 L -1.299038105676658 1.5" juncs="29 35"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road44" num="44" d="M 0 2.25 L 1.299038105676658 1.5" juncs="35 30"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road45" num="45" d="M 2.598076211353316 2.25 L 1.299038105676658 1.5" juncs="30 36"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road46" num="46" d="M 2.598076211353316 2.25 L 3.897114317029974 1.5" juncs="36 31"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road47" num="47" d="M 5.196152422706632 2.25 L 3.897114317029974 1.5" juncs="31 37"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road48" num="48" d="M 5.196152422706632 2.25 L 6.495190528383289 1.5" juncs="37 32"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road49" num="49" d="M -5.196152422706632 3.75 L -5.196152422706632 2.25" juncs="33 38"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road50" num="50" d="M -2.598076211353316 3.75 L -2.598076211353316 2.25" juncs="34 39"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road51" num="51" d="M 0 3.75 L 0 2.25" juncs="35 40"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road52" num="52" d="M 2.598076211353316 3.75 L 2.598076211353316 2.25" juncs="36 41"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road53" num="53" d="M 5.196152422706632 3.75 L 5.196152422706632 2.25" juncs="37 42"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road54" num="54" d="M -3.897114317029974 4.5 L -5.196152422706632 3.75" juncs="38 43"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road55" num="55" d="M -3.897114317029974 4.5 L -2.598076211353316 3.75" juncs="43 39"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road56" num="56" d="M -1.299038105676658 4.5 L -2.598076211353316 3.75" juncs="39 44"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road57" num="57" d="M -1.299038105676658 4.5 L 0 3.75" juncs="44 40"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road58" num="58" d="M 1.299038105676658 4.5 L 0 3.75" juncs="40 45"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road59" num="59" d="M 1.299038105676658 4.5 L 2.598076211353316 3.75" juncs="45 41"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road60" num="60" d="M 3.897114317029974 4.5 L 2.598076211353316 3.75" juncs="41 46"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road61" num="61" d="M 3.897114317029974 4.5 L 5.196152422706632 3.75" juncs="46 42"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road62" num="62" d="M -3.897114317029974 6 L -3.897114317029974 4.5" juncs="43 47"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road63" num="63" d="M -1.299038105676658 6 L -1.299038105676658 4.5" juncs="44 48"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road64" num="64" d="M 1.299038105676658 6 L 1.299038105676658 4.5" juncs="45 49"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road65" num="65" d="M 3.897114317029974 6 L 3.897114317029974 4.5" juncs="46 50"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road66" num="66" d="M -2.598076211353316 6.75 L -3.897114317029974 6" juncs="47 51"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road67" num="67" d="M -2.598076211353316 6.75 L -1.299038105676658 6" juncs="51 48"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road68" num="68" d="M 0 6.75 L -1.299038105676658 6" juncs="48 52"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road69" num="69" d="M 0 6.75 L 1.299038105676658 6" juncs="52 49"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road70" num="70" d="M 2.598076211353316 6.75 L 1.299038105676658 6" juncs="49 53"></path>
    <title></title>
  </g>

  <g class="road-group">
    <path class="road" id="road71" num="71" d="M 2.598076211353316 6.75 L 3.897114317029974 6" juncs="53 50"></path>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot0" num="0" cx="-2.598076211353316" cy="-5.25" r="0.15" roads="0 1" hexes="0"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot1" num="1" cx="0" cy="-5.25" r="0.15" roads="2 3" hexes="1"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot2" num="2" cx="2.598076211353316" cy="-5.25" r="0.15" roads="4 5" hexes="2"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot3" num="3" cx="-3.897114317029974" cy="-4.5" r="0.15" roads="0 6" hexes="0"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot4" num="4" cx="-1.299038105676658" cy="-4.5" r="0.15" roads="1 2 7" hexes="0 1"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot5" num="5" cx="1.299038105676658" cy="-4.5" r="0.15" roads="3 4 8" hexes="1 2"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot6" num="6" cx="3.897114317029974" cy="-4.5" r="0.15" roads="5 9" hexes="2"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot7" num="7" cx="-3.897114317029974" cy="-3" r="0.15" roads="6 10 11" hexes="0 3"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot8" num="8" cx="-1.299038105676658" cy="-3" r="0.15" roads="7 12 13" hexes="0 1 4"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot9" num="9" cx="1.299038105676658" cy="-3" r="0.15" roads="8 14 15" hexes="1 2 5"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot10" num="10" cx="3.897114317029974" cy="-3" r="0.15" roads="9 16 17" hexes="2 6"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot11" num="11" cx="-5.196152422706632" cy="-2.25" r="0.15" roads="10 18" hexes="3"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot12" num="12" cx="-2.598076211353316" cy="-2.25" r="0.15" roads="11 12 19" hexes="0 3 4"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot13" num="13" cx="0" cy="-2.25" r="0.15" roads="13 14 20" hexes="1 4 5"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot14" num="14" cx="2.598076211353316" cy="-2.25" r="0.15" roads="15 16 21" hexes="2 5 6"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot15" num="15" cx="5.196152422706632" cy="-2.25" r="0.15" roads="17 22" hexes="6"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot16" num="16" cx="-5.196152422706632" cy="-0.75" r="0.15" roads="18 23 24" hexes="3 7"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot17" num="17" cx="-2.598076211353316" cy="-0.75" r="0.15" roads="19 25 26" hexes="3 4 8"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot18" num="18" cx="0" cy="-0.75" r="0.15" roads="20 27 28" hexes="4 5 9"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot19" num="19" cx="2.598076211353316" cy="-0.75" r="0.15" roads="21 29 30" hexes="5 6 10"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot20" num="20" cx="5.196152422706632" cy="-0.75" r="0.15" roads="22 31 32" hexes="6 11"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot21" num="21" cx="-6.495190528383289" cy="0" r="0.15" roads="23 33" hexes="7"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot22" num="22" cx="-3.897114317029974" cy="0" r="0.15" roads="24 25 34" hexes="3 7 8"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot23" num="23" cx="-1.299038105676658" cy="0" r="0.15" roads="26 27 35" hexes="4 8 9"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot24" num="24" cx="1.299038105676658" cy="0" r="0.15" roads="28 29 36" hexes="5 9 10"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot25" num="25" cx="3.897114317029974" cy="0" r="0.15" roads="30 31 37" hexes="6 10 11"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot26" num="26" cx="6.495190528383289" cy="0" r="0.15" roads="32 38" hexes="11"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot27" num="27" cx="-6.495190528383289" cy="1.5" r="0.15" roads="33 39" hexes="7"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot28" num="28" cx="-3.897114317029974" cy="1.5" r="0.15" roads="34 40 41" hexes="7 8 12"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot29" num="29" cx="-1.299038105676658" cy="1.5" r="0.15" roads="35 42 43" hexes="8 9 13"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot30" num="30" cx="1.299038105676658" cy="1.5" r="0.15" roads="36 44 45" hexes="9 10 14"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot31" num="31" cx="3.897114317029974" cy="1.5" r="0.15" roads="37 46 47" hexes="10 11 15"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot32" num="32" cx="6.495190528383289" cy="1.5" r="0.15" roads="38 48" hexes="11"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot33" num="33" cx="-5.196152422706632" cy="2.25" r="0.15" roads="39 40 49" hexes="7 12"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot34" num="34" cx="-2.598076211353316" cy="2.25" r="0.15" roads="41 42 50" hexes="8 12 13"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot35" num="35" cx="0" cy="2.25" r="0.15" roads="43 44 51" hexes="9 13 14"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot36" num="36" cx="2.598076211353316" cy="2.25" r="0.15" roads="45 46 52" hexes="10 14 15"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot37" num="37" cx="5.196152422706632" cy="2.25" r="0.15" roads="47 48 53" hexes="11 15"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot38" num="38" cx="-5.196152422706632" cy="3.75" r="0.15" roads="49 54" hexes="12"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot39" num="39" cx="-2.598076211353316" cy="3.75" r="0.15" roads="50 55 56" hexes="12 13 16"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot40" num="40" cx="0" cy="3.75" r="0.15" roads="51 57 58" hexes="13 14 17"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot41" num="41" cx="2.598076211353316" cy="3.75" r="0.15" roads="52 59 60" hexes="14 15 18"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot42" num="42" cx="5.196152422706632" cy="3.75" r="0.15" roads="53 61" hexes="15"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot43" num="43" cx="-3.897114317029974" cy="4.5" r="0.15" roads="54 55 62" hexes="12 16"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot44" num="44" cx="-1.299038105676658" cy="4.5" r="0.15" roads="56 57 63" hexes="13 16 17"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot45" num="45" cx="1.299038105676658" cy="4.5" r="0.15" roads="58 59 64" hexes="14 17 18"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot46" num="46" cx="3.897114317029974" cy="4.5" r="0.15" roads="60 61 65" hexes="15 18"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot47" num="47" cx="-3.897114317029974" cy="6" r="0.15" roads="62 66" hexes="16"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot48" num="48" cx="-1.299038105676658" cy="6" r="0.15" roads="63 67 68" hexes="16 17"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot49" num="49" cx="1.299038105676658" cy="6" r="0.15" roads="64 69 70" hexes="17 18"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot50" num="50" cx="3.897114317029974" cy="6" r="0.15" roads="65 71" hexes="18"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot51" num="51" cx="-2.598076211353316" cy="6.75" r="0.15" roads="66 67" hexes="16"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot52" num="52" cx="0" cy="6.75" r="0.15" roads="68 69" hexes="17"></circle>
    <title></title>
  </g>

  <g class="spot-group">
    <circle class="spot" id="spot53" num="53" cx="2.598076211353316" cy="6.75" r="0.15" roads="70 71" hexes="18"></circle>
    <title></title>
  </g>

  <g id="robber" class="robber">
    <circle class="robber-head" cx="0" cy="0" r="0.3"></circle>
    <polygon class="robber-body" points="0 0 0.5 1 -0.5 1 0 0"></polygon>
    <title>Robber? Barely even know her.</title>
  </g>

  <g id="demo-robber" class="robber">
    <circle class="robber-head" cx="0" cy="0" r="0.3"></circle>
    <polygon class="robber-body" points="0 0 0.5 1 -0.5 1 0 0"></polygon>
    <title>Robber? Barely even know her.</title>
  </g>



</svg>
