* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.banner {
  height: 30px;
  width: 100%;
  background-color: #222;
  color: #bbb;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding-left: 10px;
  padding-right: 10px;
}

.banner a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.logo-container a {
  font-weight: 900;
}
