/***
  SITE-WIDE
  ***/

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

.banner {
  position: absolute;
  top: 0;
  height: 1.5em;
  width: 100%;
  background-color: #222;
  color: #bbb;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding-left: 10px;
  padding-right: 10px;
}

.banner a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.logo-container a {
  font-weight: 900;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 1.5em;
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 100%;
  background-color: #eee;
}

.frame {
  height: 100%;
  width: 100%;
}

.panel {
  margin: 5px;
  flex-grow: 0;
}

span {
  font-weight: 300;
}

.hidden-form {
  display: none;
}

.null-container {
  padding: 0.5em 0;
}

table a, .message a {
  color: inherit;
  text-decoration: inherit;
}

td {
  text-align: center;
}

/***
 INDEX
 ***/

.index.content {
  flex-flow: column;
  align-items: center;
}

.index.content:hover {
  cursor: pointer;
  background-color: #ddd;
}

.index.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/***
 LOGIN & REGISTER
 ***/

.lr.content {
  flex-flow: column;
  align-items: center;
}

form.lr {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1em;
  background-color: #ddd;
  border: 1px solid #222;
}

input.lr {
  width: 10em;
  border: none;
  border-bottom: 1px solid #222;
  background-color: transparent;
}

button.lr {
  margin-top: 0.5em;
}

a.lr {
  color: #222;
}

/***
 MESSAGES
 ***/

.messages {
  font-size: 1em;
}

.frame#messages {
  background-color: #ddd;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
  border-left: #222 solid 2px;
}

.panel#messages {
  border: #222 solid 1px;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
}

div.messages.public {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}

ul.messages {
  width: inherit;
  max-height: inherit;
  height: 100%;
  list-style: none;
  word-wrap: break-word;
  padding: 0.5em;
  margin: 0;
}

li.admin {
  padding: 0.5em 0;
}

li.admin span.body {
  font-style: italic;
}

li.center {
  text-align: center;
}

li.center span {
  font-weight: 500;
}

li.message:hover span.timestamp {
  display: inline;
}

li.message.normal .body {
  color: #333;
}

li.message.error .body {
  color: #f00;
}

span.timestamp {
  color: #666;
  float: right;
  display: none;
  font-size: 0.9em;
}

span.body {
  color: #666;
}

span.self {
  /*font-style: italic;*/
  color: #222;
}

span.currently-online {
  color: #0a0;
}

div.messages.status {
  text-align: right;
  font-size: 0.8em;
  padding: 0 0.5em;
}

div.messages.input {
  width: 100%;
}

input.messages {
  width: inherit;
  border: none;
  padding: 0.2em 0.5em;
}

a.chat-link {
  color: inherit;
}

/***
 LOBBY
 ***/

.lobby.content {
  flex-flow: row-reverse nowrap;
}

.lobby.container {
  display: flex;
  flex-flow: column;
  padding-bottom: 1em;
}

.lobby form {
  width: 100%;
}


#host-new-game {
  /*align-items: flex-end;
  padding-bottom: 0;*/
}

#host-new-game button.show-hide {
  float: right;
}

#host-new-game div {
  align-items: center;
}

#host-new-game div.label {
  border-radius: 5px 5px 0 0;
  background-color: #222;
  color: #fff;
  width: 100%;
  padding-left: 1em;
  margin-top: 0.25em;
  line-height: 1.5em;
}

#host-new-game div.config-and-button-container {
  flex-flow: column;
  display: flex;
  border-bottom: 1px #222 solid;
  background: #ddd;
  padding: 0.5em 0;
}

#host-new-game div.config-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin-bottom: 0.5em;
  align-items: baseline;
}

#host-new-game div.subcontainer {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0 0.5em;
}

#host-new-game span.setting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25em 0;
}

#host-new-game input {
  width: 4em;
  height:2em;
  text-align: center;
}

form.post-buttons {
  display: flex;
  flex-flow: column;
  width: auto;
}

.lobby .container > p {
  margin: 0;
  padding-left: 0.5em;
}

#private-code span {
  text-align: center;
}

input#private-code-input {
  width: 24ch;
}

.frame#lists {
  height: 100%;
  padding: 0 1em;
  min-width: 650px;
}

table.lobby {
  font-size: 0.9em;
  width: 100%;
  border-collapse: collapse;
}

.active .humans, .active .status {
  display: none;
}
.pending .players, .pending .turn {
  display: none;
}
.available .players, .available .turn {
  display: none;
}


tr.lobby:first-child {
  border-left: 1px solid #222;
}
tr.lobby.header:first-child {
  border-left: none;
}

tr.lobby th {
  background-color: #222;
  color: #fff;
  border-bottom: 1px solid #222;
  font-weight: 500;
}
tr.lobby th:first-child {
  border-radius: 5px 0 0;
}
tr.lobby th:last-child {
  border-radius: 0 5px 0 0;
}

tr.lobby td {
  background-color: #ddd;
  color: #222;
  border-bottom: 1px solid #222;
  font-weight: 300;
}

tr.lobby.max {
  display: none;
}

.players-list p {
  margin: 0;
  text-align: left;
}

.null-container {
  padding: 0.5em 0;
}

.lobby.max-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.max.info {
  display: flex;
  flex-flow: column;
  align-items: baseline;
}

.max.info > p {
  margin: 0;
}

.max.info > p.victory-points-info {
  margin-bottom: 0.5em;
}

strong.in-progress {
  color: #11f;
}

strong.ready {
  color: #0a0;
}

strong.pending {
  color: #ff6000;
}


/***
  ADMIN
  ***/

.admin.content {
  flex-flow: column nowrap;
}
.admin.frame {
  padding: 2em 1em;
}


.admin.container {
  display: flex;
  flex-flow: column;
  padding-bottom: 1em;
}
.admin.container > p {
  margin: 0;
  padding-left: 0.5em;
}


table.admin {
  font-size: 0.9em;
  width: 100%;
  border-collapse: collapse;
  line-height: 1.5em;
}

tr.admin:first-child {
  border-left: 1px solid #222;
}
tr.admin.header:first-child {
  border-left: none;
}

tr.admin th {
  background-color: #222;
  color: #fff;
  border-bottom: 1px solid #222;
  font-weight: 500;
}
tr.admin th:first-child {
  border-radius: 5px 0 0;
}
tr.admin th:last-child {
  border-radius: 0 5px 0 0;
}
tr.admin td {
  background-color: #ddd;
  color: #222;
  border-bottom: 1px solid #222;
  font-weight: 300;
}

.admin strong.true {
  color: #0a0;
}

.admin strong.false {
  color: #a00;
}

span.is-owner {
  /*text-decoration: underline;*/
}

form.admin {
  display: inline;
}

span.batch * {
  display: inline;
  margin: 0;
}

#error-console {
  background-color: #ddd;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  border-top: 2px solid #000;
}

#error-console .panel {
  border: #222 solid 1px;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  margin: 0px;
}

#admin-lobby-portal {
  position: absolute;
  right: 0;
  margin: 0.5em 1.5em 0 0;
}



/***
 PLAY
 ***/

.play.content {
  flex-flow: row-reverse nowrap;
  align-items: normal;
}

.frame#control {
  background-color: #ddd;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
  border-left: #222 solid 2px;
}

.frame#game {
  position: relative;
  background-color: #00f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

#game #dice {
  position: absolute;
  top: 0;
  left: 0;
  height: 4em;
  display: flex;
}
#game #dice :hover {
  cursor: pointer;
}

#game #dice .die {
  height: 100%;
  margin: 0.2em;
}

.play #game-data {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.play #game-data > * {
  width: 100%;
}

.play table {
  border-spacing: 0;
  border-collapse: collapse;
}

.play table tr.header th {
  border-bottom: 1px solid #222;
}

div#private-data {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.play .player {
  font-weight: bold;
}

.play .spot {
  fill: #fff;
  stroke-width: 0.05;
}

.play .spot:hover, .play .road:hover {
  stroke: #000;
}

/* TODO: mix-ins would be good here */
.play .red {
  color: #f00;
}
.play .spot.red, .play .road.red {
  stroke: #f00;
  fill:   #f00;
}
.play .spot.red {
  stroke-width: 0.2;
}

.play .orange {
  color: #ffa500;
}
.play .spot.orange, .play .road.orange {
  stroke: #ffa500;
  fill:   #ffa500;
}
.play .spot.orange {
  stroke-width: 0.2;
}

.play .blue {
  color: #00f;
}
.play .spot.blue, .play .road.blue {
  stroke: #00f;
  fill:   #00f;
}
.play .spot.blue {
  stroke-width: 0.2
}

.play .white {
  color: #fff;
}
.play .spot.white, .play .road.white {
  stroke: #aaa;
  fill:   #aaa;
}
.play .spot.white {
  stroke-width: #ccc;
}

.yop, .monopoly, .rb {
  color: #2b6836;
}

.vp {
  color: #ff0;
}

.knight {
  color: #f00;
}

svg#gameboard {
  width: 100%;
  height: 100%;
}

.sheep {
  fill:  #adf442;
	color: #adf442;
}

.brick {
  fill:  #ed8428;
	color: #ed8428;
}

.wood {
  fill:  #2b6836;
	color: #2b6836;
}

.wheat {
  fill:  #e2d92f;
	color: #e2d92f;
}

.ore {
  fill:  #38332f;
	color: #38332f;
}

.desert {
  fill: #ead5c2;
}

.mystery {
  fill: #ccc;
}

.tile polygon {
  /*stroke: #fff;
  stroke-width: 0.25;*/
}

.tile text {
  font-size: 1px;
}

.tile text.red {
  fill: #ff0000;
}

.spot {
  fill: #000;
  stroke: #fff;
  stroke-width: 0.1;
}

.road {
  stroke: #fff;
  stroke-width: 0.2;
}

.port {
}

svg#gameboard > * {
  cursor: pointer;
}

svg#gameboard > rect {
  cursor: default;
}

#modal-offer-trade {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ddd;
  text-align: center;
  display: flex;
  flex-flow: column
}

#modal-offer-trade .trade-body {
  display: flex;
  flex-flow: row;
}
