<!DOCTYPE html>
<html>
<head>
  <title>CatOnline &mdash; <%= user.name %></title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="images/favicon.ico" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
</head>

<body>

  <div class="content">
    <div class="jumbotron text-center">
      <h1>This is the profile page</h1>

      <!-- show any messages -->
      <% if (message.length > 0) { %>
          <p class="alert alert-danger"><%= message %></p>
      <% } %>

      <button onclick="location.href='/lobby';" id="lobby">Go to lobby</button>

      <p>username: <%= user.name %></p>
  </div>

  <%- include( 'banner.ejs' ) %>

  <script src='/resources/jquery-3.3.1.js'> </script>
</body>
</html>
