<!-- views/login.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>CatOnline &mdash; Register</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="images/favicon.ico" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
</head>

<body>

  <div class="lr content">
    <h1>Register for an account</h1>

    <!-- show any messages -->
    <% if (message.length > 0) { %>
        <p class="alert alert-danger"><%= message %></p>
    <% } %>

    <!-- LOGIN form -->
    <form class="lr" action="/register" method="post">
      <div class="form-group">
        <label>username</label>
        <input type="text" class="lr" name="username"></input>
      </div>
      <div class="form-group">
        <label>password</label>
        <input type="password" class="lr" name="password"></input>
      </div>

      <button class="lr" type="submit">Register</button>

    </form>

    <p><a class="lr" href="/login">Login with an existing account</a></p>

  </div>

  <%- include( 'banner.ejs' ) %>

  <script src='/resources/jquery-3.3.1.js'> </script>
  <script>
    $('input.lr')[0].focus();
  </script>
</body>
